doctype html
html
  head
    link(href='static/css/libs.css', rel="stylesheet")
    link(href='static/css/themes/default.css', rel="stylesheet")
  body(ng-app='tt365plus')
    div(class='main' ng-controller='mainController')
      div(ng-view ng-show='isReady.value')
      div(class='loading' ng-show='!isReady.value')
        img(src='/static/assets/loading.gif')
    script(src='static/js/libs.js')
    script(src='static/js/dist.js')
