$fontPrimary: #222;
$fontLight: #ddd;
$fontSizeNormal: 14px;

$bg: #fdfdfd;
$primary: #337ab7;
$secondary: #884488;
$won: limegreen;
$lost: lightpink;

$rowAltColor: #EEE;
$highlight: orangered;
$borderColor: #eee;
$shadowColor: #333;

@import '../base';
